@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-primary text-black bg-primary leading-loose;
    }
  
    .h1 {
      @apply text-[38px] lg:text-[58px] xl:text-[64px] leading-[1.1] font-bold;
    }
  
    .h2 {
      @apply text-[24px] lg:text-[34px] xl:text-[40px] leading-[1.1] font-semibold;
    }
  
    .h3 {
      @apply text-[20px] lg:text-[24px] xl:text-[30px] leading-[1.1] font-semibold;
    }
  
    .photo-1 {
      @apply lg:h-[280px] lg:w-[210px] md:h-[200px] md:w-[130px]
    }
  
    .photo-2 {
      @apply lg:h-[360px] lg:w-[270px] md:h-[280px] md:w-[190px]
    }
  
    .photo-3 {
      @apply lg:h-[210px] lg:w-[310px] md:h-[130px] md:w-[190px]
    }
  
    .photo-4 {
      @apply lg:h-[230px] lg:w-[200px] md:h-[150px] md:w-[120px]
    }
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: box-shadow 0.5s ease;
  }
  
  header.shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }